<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title size="large" style="text-align: center">Bienvenid@, {{nombre}} </ion-title>
  <br>
  <ion-img src="assets/img/avatar.png" style="width:150px center; height:150px"></ion-img>
  <br>
  <ion-label class="ion-text-center">
    <p>Nombre del Alumno:</p>
  </ion-label>
  <h6 class="ion-text-center">
{{nombre}}</h6>
<br>
  <ion-label class="ion-text-center">
    <p>Sede del Alumno:</p>
  <h6 class="ion-text-center">
{{sede}}</h6>
<br>
  </ion-label>
  <ion-label class="ion-text-center">
    <p>Seccion del Alumno:</p>
  <h6 class="ion-text-center">
{{seccion}}</h6>
  </ion-label>
  <BR>
  <BR>
  <BR>
  <h6 class="ion-text-center">Escanear</h6>


  
</ion-content>
